@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
.slick-slide {
  outline: none;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 75%;
  z-index: 10;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid #a3a3a3;
  border-width: 0px 2px 2px 0;
  padding: 5px;
  background: none;
  outline: none;
  cursor: pointer;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
  position: relative;
}
